<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="product-list.css" />
    <script src="product-list.js" type="module" defer></script>
  </head>
  <body>
    <nav
      class="navbar"
      role="navigation"
      aria-label="main navigation"
      style="margin: 0 auto"
    >
      <div id="navbarBasicExample" class="navbar-menu category-menu">
        <ul class="navbar-start categories"></ul>
      </div>
    </nav>
    <section class="section">
      <div
        class="container product-item-container"
        id="producItemContainer"
      ></div>
    </section>
  </body>
</html>
