<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Page</title>
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css 관련 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="orders.css" />
    <script src="orders.js" type="module" defer></script>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <div class="block account-header">
          <h1 class="subtitle is-4">주문조회</h1>
        </div>
      </div>
      <div class="container orders-container" id="ordersContainer">
        <div class="columns notification is-info is-light is-mobile orders-top">
          <div class="column is-4">상품정보</div>
          <div class="column is-2">주문일자</div>
          <div class="column is-3">주문정보</div>
          <div class="column is-3">주문상태</div>
        </div>
      </div>
    </section>
    <div
      id="modal"
      class="modal"
      data-target-order-id=""
      data-target-product-id=""
    >
      <div class="modal-background" id="modalBackground"></div>
      <div class="modal-content">
        <div class="box">
          <p class="mb-3">
            주문 취소 시 복구할 수 없습니다. 정말로 취소하시겠습니까?
          </p>

          <div class="buttons">
            <button
              class="button mt-5"
              id="deleteCompleteButton"
              data-action="delete"
              aria-label="close"
            >
              네
            </button>
            <button
              class="button is-primary mt-5"
              id="deleteCancelButton"
              data-action="close"
              aria-label="close"
            >
              아니오
            </button>
          </div>
        </div>
      </div>

      <button
        class="modal-close is-large"
        id="modalCloseButton"
        data-action="close"
        aria-label="close"
      ></button>
    </div>
  </body>
</html>
