.header-search-input {
  width: 20rem
}

.navbar-menu .is-info:focus {
  box-shadow: none;
  outline: none
}

.account-header {
  border-bottom: 1px solid #ddd;
  display: block;
  padding-bottom: .7rem
}

.orders-container {
  margin: 5rem auto 2rem;
  max-width: 1000px!important
}

.orders-top {
  border-bottom: 1px solid #aaa;
  padding: 0;
  text-align: center
}

.orders-item {
  align-items: center;
  text-align: center
}


.orders-item:not(:last-child) {
  border-bottom: 1px solid #bbb
}

.orders-item>div {
  display: flex
}

.orders-item>div>p {
  flex-grow: 1;
  align-self: center
}

.product-info,
.order-info {
  white-space: pre-line
}

.order-status {
  margin-bottom: 5px
}

.modal .box {
  text-align: center
}

.modal .buttons {
  justify-content: center
}
