<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Page</title>
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css 관련 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="product-edit.css" />
    <script src="product-edit.js" type="module" defer></script>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <div class="block account-header">
          <h1 class="subtitle is-4" id="securityTitle"></h1>
        </div>
        <div style="margin: 20px 0px; text-align: center">
          현재 판매중인 목록
        </div>
        <div class="menu-container">
          <div class="form-container">
            <form class="box form-box" id="productForm"></form>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
