.account-header {
  border-bottom: 1px solid #ddd;
  display: block;
  padding-bottom: 0.7rem;
}

.form-container {
  display: flex;
  justify-content: center;
}

.form-box {
  width: 20rem;
}

.form-box .control {
  display: flex;
}

.modal-content button.delete {
  background: transparent;
  position: absolute;
  right: 3px;
  top: 3px;
}

.modal-content button.delete:after,
.modal-content button.delete:before {
  background-color: #000;
}

#buttonBox {
  width: 100%;
  display: inline-block;
  text-align: end;
}

.edit-link:hover {
  transform: scale(1.01);
  cursor: pointer;
}
