<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-n팀</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="home.css" />
    <script src="home.js" type="module" defer></script>
  </head>
  <body>
    <div class="category-menu">
      <ul class="categories">
        <li><a href="/product/list?category=Men Clothes">Men</a></li>
        <li><a href="/product/list?category=Woman Clothes">Women</a></li>
        <li><a href="/product/list?category=Child Clothes">Child</a></li>
      </ul>
    </div>
    <div class="slide-wrappper">
      <div class="slide-container">
        <div class="slide-list">
          <div class="slide-items">
            <figure>
              <a
                class="category-image"
                href="/product/list/?category=Men Clothes"
                ><img
                  src="../images/men-cloth.jpg"
                  style="width: 100%; height: 600px"
              /></a>
            </figure>
          </div>
          <div class="slide-items">
            <figure>
              <a
                class="category-image"
                href="/product/list/?category=Woman Clothes"
                ><img
                  src="../images/women-cloth.jpg"
                  style="width: 100%; height: 600px"
              /></a>
            </figure>
          </div>
          <div class="slide-items">
            <figure>
              <a
                class="category-image"
                href="/product/list/?category=Child Clothes"
                ><img
                  src="../images/child-cloth.jpg"
                  style="width: 100%; height: 600px"
              /></a>
            </figure>
          </div>
        </div>
        <div class="button-container">
          <a href="javascript:void(0)" class="prev"
            ><i class="fas fa-chevron-left"></i
          ></a>
          <a href="javascript:void(0)" class="play"
            ><i class="fas fa-play"></i
          ></a>
          <a href="javascript:void(0)" class="pause"
            ><i class="fas fa-stop"></i
          ></a>
          <a href="javascript:void(0)" class="next"
            ><i class="fas fa-chevron-right"></i
          ></a>
        </div>
      </div>
    </div>
  </body>
</html>
